# ========== GENERAL IGNORES ==========
# System-specific files
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
*.tmp
*.log
*.bak

# ========== JAVA / GRADLE ==========
# Compiled Java files
*.class
*.war
*.ear

# Logs and temporary files
*.log
hs_err_pid*
replay_pid*

# Gradle build directory & caches
/build/
.gradle/
.gradle/**/caches/
.gradle/**/daemon/
.gradle/**/taskHistory/
.gradle/**/gradleApp/

# ========== IDE / EDITOR ==========
# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# NetBeans
nbproject/private/


# ========== SIMULATION / REPORT FILES ==========
# Simulation report files


# Javadoc
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list

# Jangan abaikan folder config dan semua isinya
!the-one/config/
!the-one/config/**



# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
